.Info-left {
    margin-left: 60px;
    text-align: left;
}

.Container {
    text-align: left;
    margin-left: 60px;
    margin-right: 60px;
}

.Join-Command {
    font-family: monospace
}

.Alert {
    padding-left:2em 
}