.ListItem {
    display: flex;
}

.Menu {
    margin-left: auto;
    margin-right: 2%;
    margin-top: 20px;
}

.HostName {
    margin-right: 20px;
}

.Message {
    margin-left: 3px;
    font-style: italic;
}